table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
button {
  background-color: rgb(180, 184, 187);
  border-width: 2px;
  font-family: "Times New Roman";
  font-style: "bold";
  font-size: 16px;
  border-radius: 15px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}

div.date{
    text-align: center;
}

.dayOfWeek{
    text-align: center;
}

.notInMonth{
  font-weight:lighter;
  opacity: 0.4;
}
.no-border{
  border : 0px;
}
div#login{
  display:none;
}
div#signup{
  display:none;
}
div#logout{
  display:none;
}
button#signup_button{
  display: none;
}
button#add-event{
  display:none;
}
/* https://www.w3schools.com/howto/howto_js_popup_form.asp */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.event_form_popup {
  display: none;
  border-width:5px;
  border-color: black;
}
form.event_form_container {
  max-width: 300px;
  padding: 10px;
  background-color: lightblue;
  border-width:5px;
  border-color: black;
}

.event_button{
  background-color: lightskyblue;
  border-width: 2px;
  font-family: "Times New Roman";
  font-style: "bold";
  font-size: 14px;
  border-radius: 15px;
}
